<div class="modal-header">
  <h4 class="modal-title float-left">{{title}}</h4>
  <button type="button" class="close float-right" (click)="onDecline()">
    <span>&times;</span>
  </button>
</div>

<form [formGroup]="formGrp" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <app-alert></app-alert>
    <div class="form-group">
      <input type="password" [formControl]="oldPasswordCtrl" class="form-control" placeholder="Old password" [ngClass]="{ 'is-invalid': submitted && oldPasswordCtrl.errors }"/>
      <div *ngIf="submitted && oldPasswordCtrl.errors" class="invalid-feedback">
        <div *ngIf="oldPasswordCtrl.errors.required">Old password is required</div>
      </div>
    </div>
    <div class="form-group">
      <input type="password" [formControl]="newPasswordCtrl" class="form-control" placeholder="New password" [ngClass]="{ 'is-invalid': submitted && newPasswordCtrl.errors }" />
      <div *ngIf="submitted && newPasswordCtrl.errors" class="invalid-feedback">
        <div *ngIf="newPasswordCtrl.errors.required">New password is required</div>
        <div *ngIf="newPasswordCtrl.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>
    <div class="form-group">
      <input type="password" [formControl]="confirmNewPasswordCtrl" class="form-control" placeholder="Confirm new password" [ngClass]="{ 'is-invalid': submitted && confirmNewPasswordCtrl.errors }" />
      <div *ngIf="submitted && confirmNewPasswordCtrl.errors" class="invalid-feedback">
        <div *ngIf="confirmNewPasswordCtrl.errors.mustMatch">Passwords doesn't match</div>
      </div>
    </div>
  </div>
  <div class="modal-footer text-center">
    <button type="submit" [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      {{confirmText}}
    </button>
    <button type="button" class="btn btn-default" (click)="onDecline()">{{declineText}}</button>
  </div>
</form>
