<h1>Welcome to our time management app Time Keeper!</h1>

<p>It's architecture is built on the principles of Clean Architecture:</p>
<ul>
  <li>Independent of frameworks: it does not require the existence of some tool or framework</li>
  <li>Testable easy to test – Core has no dependencies on anything external, so writing automated tests is much easier</li>
  <li>Independent of UI - logic is kept out of the UI so it is easy to change to another technology – right now you might be using Angular, soon Vue, eventually Blazor!</li>
  <li>Independent of the database: data-access concerns are cleanly separated so moving from SQL Server to CosmosDB or otherwise is trivial</li>
  <li>Independent of anything external. In fact, Core is completely isolated from the outside world – the difference between a system that will last 3 years, and one that will last 20 years</li>
</ul>

<p>It's is build built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>

<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
